.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #282c34;
  color: white;
}

.navbar nav a {
  margin-left: 1rem;
  text-decoration: none;
  color: white;
}

.navbar nav a.active {
  font-weight: bold;
  border-bottom: 2px solid whitesmoke;
}

